<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasty Burguer | Menu</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <header>
      <div id="title">
        <h1><i class="fa fa-cutlery"></i><a href="index"><span class="highlight"> Tasty</span> Burguer</a></h1>
      </div>
      <nav class="topNav" id="menuNav">
        <a href="index">Início</a>
        <div class="dropdown">
          <a class="dropbtn"><a href="#" class="current">Menu <i class="fa fa-caret-down"></i></a></a>
          <div class="dropdown-content">
            <a href="#meal">Hamburguer</a>
            <a href="#snacks">Snacks</a>
            <a href="#drinks">Bebidas</a>
            <a href="#combo">Combos</a>
          </div>
        </div>
        <a href="login">Login</a>
        <a href="signup">Cadastre-se</a>
        <a class="search">
          <form action="#">
            <input type="text" placeholder="Procure o que deseja.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </a>
        <a href="javascript:void(0);" class="icon">&#9776;</a>
      </nav>
    </header>
    <!--Image Gallery-->
    <div class="menu">
      <h1 id="menuWelcome"><i>Hummm... O que tem no Menu?</i></h1>
      <h3>Por favor, escolha entre nossas variedades de hamburgueres, snacks, bebidas e combos e adicione ao seu carrinho!</h3>
      <p><i>Clique no carrinho de compras <i class="fa fa-shopping-cart" aria-hidden="true"></i> abaixo para ver os itens selecionados!</i></p>
    </div>
    <section class="menu" id="meals">
      <h2>HAMBURGUER</h2>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/meals/01.png" alt="burguer-1" id="img01">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Hamburguer 180g, filé de frango 150g, molho especial a base de tomates frescos.
                  <br>Burguer de respeito!
                </p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item01">Burguer Monstro</h1>
            <p class="price" id="price01">R$ 39.90</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>Selecione a quantidade:
              <select id="selectQty01">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
              </select>
            </p>
            <button class="cartBtn" id="btn01">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/meals/02.png" alt="chicken" id="img02">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Esse é para quem gosta de diferenciar. Pão black, com gergelim, hamburguer de 180g e maionese do chef.</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item02">Burguer Black</h1>
            <p class="price" id="price02">R$ 35.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>Selecione a quantidade:
              <select id="selectQty02">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
                <option id="qty07">7</option>
                <option id="qty08">8</option>
                <option id="qty09">9</option>
              </select>
            </p>
            <button class="cartBtn" id="btn02">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/meals/03.png" alt="steak" id="img03">
              </div>
              <div class="flip-box-back">
                <h2>Descrição: </h2>
                <p>Tripla camada de Burguer e tripla camada de cheddar.</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item03">Buguer Triplo</h1>
            <p class="price" id="price03">R$ 45.30</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty03">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn03">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/meals/04.png" alt="moin-moin" id="img04">
              </div>
              <div class="flip-box-back">
                <h2>Descrição: </h2>
                <p>Esse é só para os fortes! Burguer 210g, cebola, tomate, molho especial, queijo fresco e o clássico: Ovo com gema MOLE!</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item04">Burguer Warrior - Só para os fortes!</h1>
            <p class="price" id="price04">R$ 49.90</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty04">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn04">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
    <!-- SNACKS -->
    <section class="menu" id="snacks">
      <h2>SNACKS</h2>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/snacks/01.jpg" alt="burger" id="img05">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Batatinhas fritas e crocantes.</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item05">Batata Frita</h1>
            <p class="price" id="price05">R$ 15.90</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty05">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn05">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/snacks/meatpie.jpg" alt="meatpie" id="img06">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Não sabemos a origem das empanadas, se são Argentinas, Chilenas ou Peruanas. Só sabemos que as nossas são as melhores!</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item06">Empanadas</h1>
            <p class="price" id="price06">R$ 29.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty06">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn06">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/snacks/dougnut1.jpg" alt="doughnut" id="img07">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Donuts, muito melhores que as do Homer Simpson. Diversos sabores!</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item07">Donuts Homer</h1>
            <p class="price" id="price07">R$ 25.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty07">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn07">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../imgs/snacks/scotchegg1.jpg" alt="scotchegg" id="img08">
              </div>
              <div class="flip-box-back">
                <h2>Descrição:</h2>
                <p>Coxovo. Nada como a culinária Brasileira! Coxinhas de ovo. Uma delícia!</p>
              </div>
            </div>
          </div>
          <div class="desc">
            <h1 id="item08">Coxovo</h1>
            <p class="price" id="price08">R$ 35.00</p>
            <p><span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </p>
            <p>
              Selecione a quantidade:
              <select id="selectQty08">
                <option id="qty01">1</option>
                <option id="qty02">2</option>
                <option id="qty03">3</option>
                <option id="qty04">4</option>
                <option id="qty05">5</option>
                <option id="qty06">6</option>
              </select>
            </p>
            <button class="cartBtn" id="btn08">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>


      <!--DRINKS-->
      <section class="menu" id="drinks">
        <h2>BEBIDAS</h2>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/drinks/chocolate_mousse1.jpeg" alt="chocolatemousse" id="img09">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Mousse de chocolate para os chocolovers</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item09">Mousse de Chocolate</h1>
              <p class="price" id="price09">R$ 26.80</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty09">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>

                </select>
              </p>
              <button class="cartBtn" id="btn09">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/drinks/fruitjuice.jpg" alt="juice" id="img10">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Suco de fruta. Fruta fresquinha, suco muito saboroso.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item10">Suco de fruta</h1>
              <p class="price" id="price10">R$ 20.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty10">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn10">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/drinks/cocktailspecial.jpg" alt="cocktailspecial" id="img11">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Cocktail de frutas - Vários sabores: Sunset, Sunrise, Mojito e Sex-on-the-beach.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item11">Cocktail de frutas</h1>
              <p class="price" id="price11">R$ 35.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty11">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                  <option id="qty07">7</option>
                  <option id="qty08">8</option>
                </select>
              </p>
              <button class="cartBtn" id="btn11">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/drinks/softdrink.jpg" alt="softdrinks" id="img12">

                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Refigerante.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item12">Refrigerante</h1>
              <p class="price" id="price12">R$ 10.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty12">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn12">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="current" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>

      <!--COMBO/SPECIALS-->
      <section class="menu last" id="combo">
        <h2>COMBOS</h2>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/combo/delicacy.jpg" alt="special_rice" id="img15">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Combo Burguer + batata + refri</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item15">Combo com cestinha de batata</h1>
              <p class="price" id="price15">R$ 60.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty15">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn15">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/combo/burger-fries-drink.png" alt="burgerfrieschickendrink" id="img16">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>X-Salada com batatinhas fritas e bebida a sua escolha.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item16">Combo Burguer Salada</h1>
              <p class="price" id="price16">R$ 63.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty16">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn16">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/combo/chicken3.jpg" alt="wholechicken_paella" id="img17">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Combo do nosso mini Burguer.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item17">Mini burguer + refri + batata</h1>
              <p class="price" id="price17">R$ 55.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty17">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn17">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img src="../imgs/combo/snail.jpg" alt="peppered-snail" id="img18">
                </div>
                <div class="flip-box-back">
                  <h2>Descrição:</h2>
                  <p>Burguer + garrafinha de Coca-Cola.</p>
                </div>
              </div>
            </div>
            <div class="desc">
              <h1 id="item18">Combo de burguer + batata + garrafinha de coca</h1>
              <p class="price" id="price18">R$ 45.00</p>
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </p>
              <p>
                Selecione a quantidade:
                <select id="selectQty18">
                  <option id="qty01">1</option>
                  <option id="qty02">2</option>
                  <option id="qty03">3</option>
                  <option id="qty04">4</option>
                  <option id="qty05">5</option>
                  <option id="qty06">6</option>
                </select>
              </p>
              <button class="cartBtn" id="btn18">Adicionar ao carrinho</button>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="current" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>

      <!-- Modal -->
      <div id="modalDiv" class="modal">
        <!-- Modal content -->
        <div class="modalContent">
          <span class="close">&times;</span>
          <h1>Carrinho de Compras</h1>
          <p><b>Usuário: </b>ANONYMOUS</p>
          <p><b>E-mail: <input type="text" placeholder="Please enter your delivery address" id="userAddr"></b></p>
          <p><b>Celular: <input type="number" placeholder="Please enter your phone number" id="userPhone"></b></p>
          <table id="cartTable">
            <thead>
              <th>Imagem</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Ação</th>
            </thead>
          </table>
          <h3>
            PREÇO TOTAL: R$ <span id="totalPrice">0.00</span>
          </h3>
          <button type="submit" id="checkoutBtn">Enviar pedido</button>
        </div>
      </div>
      <!-- Adicionar ao carrinho Modal -->
      <div id="generalModal" class="modal">
        <!-- Modal content -->
        <div class="modalContent">
          <span class="close">&times;</span>
          <h1>Tasty Burguer Informa:</h1>
          <h3 id="generalInfo"></h3>
        </div>
      </div>
      <!-- End container div -->
  </div>
  <footer>
    <p>Fale conosco! <i class="fa fa-address-book fa-1x"> </i> +55 16 98548-6584 | tastyburguer@gmail.com</p>
    <p>Nos siga nas redes sociais! <i class="fa fa-github fa-1x"> </i> <i class="fa fa-facebook fa-1x"> </i> <i class="fa fa-instagram fa-1x"></i></p>
    <p><span class="highlight">Tasty</span> Burguer, Copyright &copy; 2018</p>
  </footer>
  <script src="../js/scripts.js"></script>
  <script src="../js/cart.js"></script>
</body>

</html>