<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Site para restaurante - Projeto Integrador - SENAC ADS">
	<meta name="author" content="Grupo - Senac - Projeto Integrador">
	<title>Tasty Burguer | Cadastre-se</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/forms.css">
	<link rel="stylesheet" href="../css/nav.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container">
		<header>
			<div id="title">
				<h1><a href="index"><i class="fa fa-cutlery"></i><span class="highlight"> Tasty</span> Burguer</a></h1>
			</div>
			<nav class="topNav">
				<a href="index">Início</a>
				<a href="index#about">Sobre</a>
				<div class="dropdown">
					<a class="dropbtn"><a href="menu">Menu <i class="fa fa-caret-down"></i></a></a>
					<div class="dropdown-content">
						<a href="menu#meal">Hamburguer</a>
						<a href="menu#snacks">Snacks</a>
						<a href="menu#drinks">Bebidas</a>
						<a href="menu#combo">Combos</a>
					</div>
				</div>
				<a href="login">Login</a>
				<a href="#" class="current">Cadastre-se</a>
				<a href="javascript:void(0);" class="icon" onclick="toggleNav()">&#9776;</a>
			</nav>
		</header>
		<h1 class="formTitle">Crie uma conta</h1>
		<h2>Novos clientes</h2>
		<h4> Ao criar uma conta em nosso restaurante, você poderá fazer o processo de pagamento mais rapidamente, visualizar e acompanhar seus pedidos em sua conta e muito mais.</h4>
		<br>
		<div id="signupForm">
			<form>
				<i style="color: red; text-shadow: 1.2px 1.2px 1px black;">OBS: Todos os campos são obrigatórios!</i>
				<i class="fa fa-user fa-2x" aria-hidden="true"></i>
				<div id="usernameErr"></div>
				<label for="username">Nome de usuário</label>
				<input id="username" name="username" placeholder="Insira o nome de usuário" autocomplete="off" autofocus required>
				<label for="email">E-mail</label>
				<input id="email" name="email" type="email" placeholder="Insira seu e-mail" required>
				<div id="emailErr"></div>
				<label for="password">Senha</label>
				<input id="password" name="password" type="password" placeholder="Crie uma senha" required>
				<div id="passwordErr"></div>
				<label for="password2">Confirme sua senha</label>
				<input id="password2" name="password2" type="password" placeholder="Insira sua senha novamente" required>
				<div id="password2Err"></div>
				<button id="signupBtn" type="button">Criar Conta</button>
				<span class="white">Já possui uma conta? Faça <a href="./login">Login</a> aqui!</span>
			</form>
		</div>
	</div>
	<div class="last">
	</div>
	<footer>
		<p>Fale conosco! <i class="fa fa-address-book fa-1x"> </i> +55 16 98548-6584 | tastyburguer@gmail.com</p>
		<p>Nos siga nas redes sociais! <i class="fa fa-github fa-1x"> </i> <i class="fa fa-facebook fa-1x"> </i> <i class="fa fa-instagram fa-1x"></i></p>
		<p><span class="highlight">Tasty</span> Burguer, Copyright &copy; 2018</p>
	</footer>
	<script src="../js/scripts.js"></script>
	<script src="../app/js/signup.js" type="module"></script>
</body>

</html>